/* Copyright 2013 - 2016 Patrick Ulbrich <zulu99@gmx.net>
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*/
.counter {
  background-color: rgba(70, 144, 217, 0.75);
  color: #ffffff;
  padding: .2em;
  border-radius: 10em;
  font-size: 80%;
  min-width: 1.2em;
  min-height: 1.2em;
  -counter-overlap-x: .8em;
  -counter-overlap-y: -.4em;
}

.error {
  background-color: rgba(255, 0, 0, 0.75);
}

.warning {
  background-color: rgba(175, 100, 0, 0.75);
}

.offline {
  background-color: rgba(0, 0, 0, 0.7);
}

.arrow {
  min-width: .25em;
}

.account-lbl {
	font-size: 120%;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.account-space {
  margin-top: .75em;
}

.error-lbl,
.warning-lbl {
  font-size: 110%;
}

.status-box {
  spacing: .5em;
}

.mail-item {
  margin: 0;
}

.from {
  font-size: 100%;
}

.subject {
  font-size: 90%;
  margin-top: .25em;
  margin-right: .5em;
}

.date {
  font-size: 80%;
  margin-left: .5em;
	margin-right: .5em;
}

.avatar {
  border-radius: 100em;
	background-size: cover;
  margin-right: .5em;
}

